* {
  --color-primary-dark: rgb(193, 103, 239);
  --color-primary-light: rgb(193, 125, 239);
}

.navbar-nav .btn-outline-light:hover {
  color: var(--bs-dark);
}

.navbar-sticky {
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header {
  background-image: url("./images/header-background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  padding-top: 5rem;
}
