* {
  --color-primary-dark: rgb(193, 103, 239);
  --color-primary-light: rgb(193, 125, 239);
}

.text-prim {
  color: var(--color-primary-dark);
}

.btn-primary {
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
  border-radius: 50px;
}

.btn-primary:link {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}
.btn-primary:hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}
.btn-primary:active {
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
  outline: none;
}

.btn-primary:focus {
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
  box-shadow: none;
  /* border: none; */
  outline: none;
}

.btn-primary:active:focus {
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
  box-shadow: none;
  /* border: none; */
  outline: none;
}

.btn-primary:visited {
  outline: none;
}

.navbar-nav .btn-outline-light:hover {
  color: var(--bs-dark);
}

.navbar-sticky {
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header {
  background-image: url("/ebook-webside/images/header-background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  padding-top: 5rem;
}
